<!DOCTYPE html>

<html>

<head>
    <title>paw oh paw (404)</title>
    <link rel="icon" href="/img/cheems-icon.jpeg">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>{{errorMessage}}</p>
    {{>footer}}
    </div>
</body>


</html>