<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/cheems-icon.jpeg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by June. It uses data from mapbox.com and weatherstack.com</p>
    <img class="portrait" src="/img/cheems.jpg">
    {{>footer}}
    </div>
</body>


</html>